build/
asm/
*.ld
.vscode/
.ruff_cache
.venv
__pycache__/
*.map
undefined_syms_auto.txt
undefined_funcs_auto.txt
nonmatchings/
*.splache
permuter_settings.toml
objdiff.json
*.rom
ctx*
expected/
build.ninja
.ninja_log
compile_commands.json
